.purchase__article {
    padding: 3rem 2rem 0rem 2rem;
    display: flex;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    align-items: start;
}

.container__purchase-article {
    display: flex;
    flex-direction: column;
}

.Price::before {
    content: '$';
}

.card__purchases {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    align-items: center;
    border: solid 1px #aaa;

}

.card__purchases-title {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;

}

.card__purchases img {
    width: 50px;
}